<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lesson 1</title>
</head>
<body>
<style>
    .mySecBtn {
        color: #fff;
        background-color: red;
    }
</style>
    <div id="root">

        <div class="parent" v-bind:style="{'background-color': curTheme}">

            <!--  Условная отрисовка      -->
            <div v-if="testIf !== 1"> loading... </div>
            <div v-else-if="testIf === 1"> else if </div>
            <div v-else>some data </div>

            <div v-show="testIf === 2"> v-show</div>


            <!--  интерполяция     -->

            <div>{{ testInter }}</div>

            <!--   привязка данных v-bind       -->

            <button type="button" v-bind:style="testBind ? 'color:green' : 'color:red'" v-bind:class="testBindClassName" class="my-ft-btn"> click me </button>

            <!--  циклы v-for      -->

            <ol>
                <li v-for="(val, index) in testFor" v-bind:key="index">{{ val }}</li>
            </ol>

            <ol>
                <li v-for="(val, key) in testForObject" v-bind:key="key">{{ val }}</li>
            </ol>

            <!-- события v-on     -->

            <button v-on:click="testIf = 2" v-bind:class="testOn">Click me 2</button>
            <button v-on:click="testIf = 1" v-bind:class="testOn">Click me 1</button>


            <div>
                <button v-for="(color, key) in themeColors" v-bind:key="key" v-on:click="curTheme = color">{{ key }}</button>
            </div>
        </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>