<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    [v-cloak] {
        display: none;
    }
</style>
    <div id="root">
        <span>{{num + num2 }} Loading...</span>

        <button v-on:click="num = 5">click me</button>
        <br>
        <span v-text="testText">{{ testText }}</span>
        <span v-html="testHtml"></span>

        <div v-pre>
            <h2>{{num + num2}}</h2>
        </div>

<!--        <button v-bind:[customAttr.name]="customAttr.value"></button>-->

        <input type="text" v-model="testModel">

        <span style="background-color:red;">{{testModel}}</span>
<!--

   v-on:click

        .stop
        .prevent
        .capture
        .once
        .passive
        .self

        .native
    ------------

    v-model
            .lazy
            .num
            .trim

   -->

<!--      сокращения
    @ - v-on
   : - v-bind
-->
        <!-- модификаторы  -->
        <br>
        <br>
        <div @click.once="num++">iter</div>

        <br>
        <br>
        <a href="https://vuejs.org/" @click.prevent="num++">vue</a>


    <!--  начало с методами      -->

        <button @click="customMeth">first method</button>

    <!--  вычисляемые свойства      -->
        <ol>
            <li v-for="(name, i) in compArr" :key="i">{{ name }}</li>
        </ol>

        <br>
        <ol>
            <li v-for="(name, i) in filteredCompArr" :key="i">{{ name }}</li>
        </ol>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>